@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1677955632931') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e7cd";
}

.icon-gongneng:before {
  content: "\e7ce";
}

.icon-xiaoxi2:before {
  content: "\e7cf";
}

.icon-wode:before {
  content: "\e7d0";
}

.icon-yujing:before {
  content: "\e7e2";
}

.icon-xianjinliu:before {
  content: "\e7e4";
}

.icon-caigou:before {
  content: "\e7e5";
}

.icon-hetongdingdan:before {
  content: "\e7ec";
}

.icon-chaxun:before {
  content: "\e7f5";
}

.icon-fukuan:before {
  content: "\e7f8";
}

.icon-weizhi:before {
  content: "\e7f9";
}

.icon-kehu:before {
  content: "\e7fb";
}

